<div class="row">
<div class="col-md-6 offset-1">
<div class="card">
  <div class="card-body" style="padding: 3.25rem;">
    <h5 class="card-title">ログイン画面</h5>
    <p class="card-text" style="margin-bottom: 2rem;">ログインには、Googleソーシャルアカウントが必要です</p>
    <a href="/auth/google" class="btn btn-warning">
      <i class="fa fa-google-plus" aria-hidden="true"></i>
      Googleでログイン
    </a>
  </div>
</div>
</div>


     


