<div class="container">
  <div class="card text-center" style="margin-top: 64px;">
    <div class="card-body">
      <div class="logo" style="margin-bottom: 16px;">
        <div class="logo--description">
          お前は今まで食べた麺の量を覚えているか？
        </div>
        <div class="logo--main">
          二郎 LifeLog
        </div>
      </div>

      <a href="/auth/google" class="btn btn-warning">
        <i class="fa fa-google-plus" aria-hidden="true"></i>
        Googleでログイン
      </a>
    </div>
  </div>
</div>


     


