$yello-thin: #ffe083;
$yellow-pale: #ffe600;
$yellow: #ffc107;
$yello-dark: #e0a800;
$white: #ffffff;
$black100: #000000;
$black80: #333333;
$black60: #4f4f4f;
$black40: #828282;
$black20: #bdbdbd;
$black10: #e0e0e0;
$black5: #f1f1f1;
