<div class="counter">
  <div class="counter--header">
    今月の活動統計
  </div>
  <div class="counter--body">
    <div class="counter--body--item">
      <div class="counter--body--item--title">
        食べた量 
      </div>
      <div class="counter--body--item--body" >
        1000
      </div> 
      <div class="counter--body--item--unit">
        杯
      </div>
    </div>
    <div class="counter--body--spacer"></div>
    <div class="counter--body--item">
      <div class="counter--body--item--title">
        総カロリー
      </div>
      <div class="counter--body--item--body">
        10000 
      </div>
      <div class="counter--body--item--unit">
        kcal
      </div>
    </div>
    <div class="counter--body--spacer"></div>
    <div class="counter--body--item">
      <div class="counter--body--item--title">
        踏破店舗
      </div>
      <div class="counter--body--item--body" >
        30
      </div>
      <div class="counter--body--item--unit">
        店舗
      </div>
    </div>
  </div>
</div>