<div class="container-fluid jiro">
  <div class="jiro--pannel">
    <div class="jiro--pannel--item">
      <div class="jiro--pannel--item--title">
        今まで食べた量 
      </div>
      <div class="jiro--pannel--item--body" style="margin: 20px 0px;">
        1000
      </div>
      <div class="jiro--pannel--item--unit">
        杯
      </div>
    </div>
    <div class="jiro--pannel--item">
      <div class="jiro--pannel--item--title">
        総カロリー
      </div>
      <div class="jiro--pannel--item--body" style="margin: 20px 0px;">
        10000 
      </div>
      <div class="jiro--pannel--item--unit">
        kcal
      </div>
    </div> 
    <div class="jiro--pannel--item">
      <div class="jiro--pannel--item--title">
        踏破店舗
      </div>
      <div class="jiro--pannel--item--body" style="margin: 20px 0px;">
        30
      </div>
      <div class="jiro--pannel--item--unit">
        店舗
      </div>
    </div>
  </div>
</div>