/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 */
@import "bootstrap";
@import "font-awesome";

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    '游ゴシック Medium', YuGothic, YuGothicM, 'Hiragino Kaku Gothic ProN',
    メイリオ, Meiryo, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
}

.header {
  padding: 8px;
  background-color: #FFE600;
  text-align: center;
  margin-bottom: 24px;
}

.logo {
  color: #4F4F4F;
  
  &--main {
  font-size: 28px;
  font-weight: 600;
  }

  &--description {
    font-size: 10px;
    font-weight: 300;
  }
}

.page-head {
  background-color: #fff;
  margin-bottom: 12px;
  padding: 8px;
  border: 1px solid #f1f1f1;
  text-align: center;
}

.counter {
  background-color: #fff;
  list-style-type: none;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #f1f1f1;

  &--header {
    font-size: 16px;
    color: #343a40;
    font-weight: bold;
    margin-bottom: 16px;
  }

  &--body {
    display: flex;

    &--item{
      width: 32%;
      padding: 12px;
      background-color: #FFF280;

      &--title {
        font-size: 0.5rem;
        color: #343a40;
      }

      &--body {
        text-align: center;
        font-size: 1.5rem;
        color: red;
        font-weight: bold;
      }

      &--unit {
        font-size: 0.5rem;
        text-align: right;
        color: red;
      }
    }

    &--spacer {
      display: block;
      width: 2%;
      height: 1px;
    }
  }
}

.container { 
  width: 580px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 480px) {
  .container { 
    width: 100%;
  }
}

.list {
  margin-bottom: 40px;
  background-color: white;
  padding: 12px;
  border: 1px solid #f1f1f1;
  font-size: 0.5rem;

  &--title {
    font-size: 16px;
    color: #343a40;
    font-weight: bold;
    margin-bottom: 16px;
  }

  &--cation {
    text-align: right;
    margin-bottom: 8px;
  }
}

.page--header {
  padding: 12px;
  font-size: 24px;
  margin-bottom: 16px;
}

.table > tbody > tr > th {
  color: #495057;
  font-weight: 300;
}

.table > thead > tr > th {
  color: #495057;
  font-weight: 300;
}

.floating-action-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  line-height: 60px;
  border-radius: 50%; 
  height: 60px;
  width: 60px;
  text-align: center;
  color: white;
  background-color: red;
  text-decoration: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

  &:hover {
    color: white;
    background-color: darken(red, 20%);
    text-decoration: none;
  }
}
